- hosts: servers
  remote_user: ec2-user
  become: yes
  vars:
    rbenv_user: webmaster
    rbenv_ruby_version: 2.4.1
    app_name:
    app_dir: /var/www/hogehoge
    server_name:
    nginx_user: webmaster
    users:
      - { name: 'webmaster', uid: 601, group: 'webmaster', gid: 601, password: "password", update_password: 'on_create', comment: 'webmaster' }
  roles:
    - aws/yum-update
    - aws/user
    - aws/app_dir
    - aws/rbenv
    - aws/nginx
